<settings>
  <servers>
    <server>
      <id>jfrog-releases</id>
      <username>${var.JFROG_USER}</username>
      <password>${var.JFROG_PASSWORD}</password>
    </server>
    <server>
      <id>jfrog-snapshots</id>
      <username>${var.JFROG_USER}</username>
      <password>${var.JFROG_PASSWORD}</password>
    </server>
  </servers>
</settings>
